
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #dff1ef;
    color: #222;
}


.header {
    background-color: #333;
    padding: 20px;
    position: relative;
}

.title {
    color: white;
    font-size: 48px;
    text-align: center;
}


.auth-buttons {
    position: absolute;
    top: 20px;
    left: 20px;
}



.container {
    display: flex;
    min-height: calc(100vh - 100px);
}

/* SIDEBAR */
.sidebar {
    width: 220px;
    background-color: #f4f4f4;
    padding: 20px;
}

.sidebar h2 {
    margin-bottom: 15px;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li a {
    color: #222;
    text-decoration: none;
    font-weight: bold;
}

.sidebar ul li a:hover {
    color: #0b6052;
}

/* CONTENIDO */
.content {
    flex: 1;
    padding: 20px;
}

/* PRODUCTOS */
.productos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.producto {
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    overflow: hidden;
}

.ver-producto {
    display: inline-block;
    margin-top: 10px;
    background-color: #333;
    color: white;
    padding: 8px 12px;
    text-decoration: none;
    border-radius: 5px;
}

.login-btn {
    display: inline-block;
    margin-top: 10px;
    background-color: rgb(165, 208, 201);
    color: rgb(0, 0, 0);
    padding: 8px 12px;
    text-decoration: none;
    border-radius: 5px;
}

.ver-login:hover {
    background-color: rgb(114, 159, 151);
}

.ver-producto:hover {
    background-color: #555;
}

.producto-img {
    width: 150px;
    height: 200px;
    object-fit: cover;
    border-radius: 6px;
    display: block;
    margin-bottom: 10px;
}

